<h1>Editing uni library</h1>

<%= render "form", uni_library: @uni_library %>

<br>

<div>
  <%= link_to "Show this uni library", @uni_library %> |
  <%= link_to "Back to uni libraries", uni_libraries_path %>
</div>
